html{
    font-size: 10px;
}

body{
    font-size: 1.4rem;
    font-family: 'Roboto', Verdana , sans-serif;
}

h1{
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
}

p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

h4{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.first_par{
    font-size: 18px;
}

.wrapper{
    max-width: 1600px;
    margin: auto;
}

.header{
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0 20px 502px;
}

.navigation{
    display: flex;
    text-align: center;
}

.navigation__link{
    padding: 0 30px 0 30px;
    display: inline-block;
}

.first{
    background-image: url('assets/bg-image.png');
    color: #ffffff;
    padding: 75px 50px 80px 435px;
}

.first__header{
    margin: 0px;
    padding: 30px 0 0 0 ;
}

.first_par{
    padding-bottom: 37px;
}

.button{
    background-color: #00AFDB;
    color: white;
    padding: 15px 40px;
}

.social{
    list-style-type: none;
    display: flex;
    padding-left: 120px;
}

.social li{
    padding: 95px 5px 0px 25px;
}

.second__wrapper{
    display: flex;
}

.second{
    padding: 120px 0 130px 0;
}

.second__info{
    padding: 150px 0 0 140px;
}

.second__info{
    padding-bottom: 20px;
}

.second__img{
    padding-left: 200px;
}