html{
    font-size: 10px;
}

body{
    font-size: 1.4rem;
    font-family: 'Roboto', Verdana , sans-serif;
}

h1{
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
}

p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

h4{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.first_par{
    font-size: 18px;
}

.wrapper{
    max-width: 1600px;
    margin: auto;
}

.header{
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0 20px 100px;
}

.navigation{
    display: flex;
    text-align: center;
}

.navigation__link{
    padding: 0 30px 0 30px;
    display: inline-block;
}